body {
  font-family: "Amatic SC", cursive;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}

ul {
  list-style: none;
  text-align: right;
}

p {
  font-size: 25px;
  font-weight: bolder;
}

.locate {
  padding: 0px 15px;
  border-color: #ffff;
  border-radius: 10px;
  font-size: 28px;
  border-style: solid;
}
.locate:hover {
  background: #ffff;
  transition: all 200ms ease-in-out;
  border-radius: 15px;
}
.current-location {
  background: #f1fcfe;
  transition: all 200ms ease-in-out;
}
.search-form-whole {
  text-align: left;
  margin-left: 10px;
  font-size: 28px;
  padding-top: 10px;
}
.day {
  font-weight: bolder;
  font-size: 24px;
}

.weather-element {
  font-weight: bolder;
  font-size: 30px;
}
.weather-measure {
  font-size: 25px;
}
.weather-app {
  border: 2px solid black;
  border-radius: 15px;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  background: linear-gradient(
    109.6deg,
    rgb(17, 151, 147) 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
}
.temp {
  font-size: 40px;
}
.units {
  font-size: 25px;
  position: relative;
  top: -17px;
}
.weather-forecast {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  padding-right: 15px;
}
#weather-wind {
  font-size: 30px;
  padding-top: 20px;
}
#search-button {
  padding: 0px 15px;
  font-size: 28px;
  border-radius: 10px;
  color: black;
}
.forecast-date {
  font-size: 25px;
}

.col-2:hover {
  background: #ffe5ab;
  transition: all 500ms ease-in-out;
}
